/* ============Footer========= */
.body{
    background:var(--background-color);
}
.containerF{
    display:flex;
    flex-direction: column;
    gap:3rem;
    margin-top:6rem;
    align-items:center;
    justify-content: center;
    /* background:#FDECEC; */
    /* linear-gradient(1deg,rgba(255,237,237,0.85) 0% rgba(255,255,255,0) 14rem); */

}
.container >span{
    font-weight: bold;
    color:var(--themeRed);
}
.logo{
    display:flex;
    justify-items:center;
    justify-content: center;
    gap:0.5rem;
}
.logo>span{
    margin-top:10px;
    font-size:1.5rem;
    font-weight: bold;
}
.social
{
    display:flex;
    gap:1rem;
}
.social>*{
    color:var(--themeRed);
}
/* ===================Hero==================== */
.heroContainer{
    display:flex;
    position: relative;
    padding: 0px 35px;
    background: linear-gradient(1deg, #FDECEC, transparent);
}
.left{
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.cherryDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    background: var(--pink);
    margin-top:3rem;
    padding:1rem;
    border-radius:2rem;
    font-size:0.8rem;
    color:var(--themeRed);
    font-weight: bold;
}
.heroText{
    font-size: 4rem;
    font-weight:bold;
    display:flex;
    flex-direction: column;
}
.miniText{
    width:70%;
    color:var(--gray);
    font-weight: 600;
}
.started{
    padding:1rem 2.5rem; 
}
.right{
    position: relative;
}
.imageContainer{
    width:38rem;
    height:100vh;
    position: absolute;
    top:-5rem;
    left:-5rem;
}
.ContactUs{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width:max-content;
  padding: 1rem;
  border-radius: 5rem;
  top:6rem;
  box-shadow: var(--shadow);
  color:var(--themeRed);
  background-color: white;
  left:-6rem;
}
.ContactUs>div{
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    height:2.5rem;
    width:2.5rem;
    background: rgb(59 208 59);
}
.ContactUs:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.pizza{
    display: flex;
    gap:1 rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    background-color: white; 
    position: absolute;
    bottom:4rem;
    left:19rem;
    width:max-content; 
}
.pizza:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.pizza>div:nth-child(1){
    width:6rem;
    height:4rem;
    overflow: hidden;
    border-radius: 0.5rem;
}
.pizza:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.details{
    padding-left:10px;
    display: flex;
    flex-direction: column;
}
/* ==============Services============ */